.details-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  padding: 20px;
  max-height: 400px;
  min-width: 100px;
  background-color: white;
  z-index: 1;
}